@media only screen and (min-width: 768px) {
    .projects {
        header {
            h1 {
                font-size: 4em;
            }

            a {
                top: 45px;
            }
        }

        .project-content {
            grid-template-columns: repeat(2, 50%);
            column-gap: 25px;
            row-gap: 60px;
            justify-content: center;
        }
    }
}

@media only screen and (min-width: 992px) {
    .projects {
        .project-content {
            figure {
                div {
                    position: relative;

                    .overlay {
                        background-color: rgba(0, 0, 0, 0.746);
                        display: none;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 5px;
                        z-index: 1;
                        width: 100%;

                        a {
                            text-decoration: none;
                            color: white;
                            font-size: $regular;
                            font-weight: 700;
                            letter-spacing: 2px;
                            margin: 15px 0;
                            padding-bottom: 10px;
                            border-bottom: 2px solid $lightGreen;
                        }
                    }

                    &:hover {
                        .overlay {
                            display: flex;
                        }
                    }
                }

                ul {
                    display: none;
                }
            }
        }
    }
}

