header {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 0;
        gap: 30px;

        div{
            position: relative;
            h2{

                font-size: clamp($headingM, 5vw, 2rem);
                letter-spacing: 3px;
            }
            a{ 
                position: relative;
                margin: 0 15px; 
                display: inline-block;
               
                div{
                    width: 30px;
                    height: 30px;
                }
            }
            a:hover{
                transition: .5s ease;
                 filter: invert(67%) sepia(64%) saturate(350%) hue-rotate(101deg) brightness(180%) contrast(100%);
            }
        }
    }
}