@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

$SpaceGrotesk: 'Space Grotesk', sans-serif;
$headingLg: 5.5em;
$headingL: 2.5em;
$headingM: 1.5em;
$regular: 1.125em;